---
layout: default
category: home
title: Star of Wonder
description: A closer look at the life and work of Sufjan Stevens.
---

<div class="home-intro">
	<div class="intro-image">
		<p class='cite'>Photo by <a href="http://dennyrenshaw.tumblr.com/">Denny Renshaw</a></p>
	</div>
	<div class="intro-statement">
		<p><a href="/commentary">Exploring</a> the <a href="/music">music</a>, <a href="/miscellanea">writing</a>, <a href="/miscellanea#sufjan-dot-com">musings</a>, and <a href="/miscellanea#film-and-other-media">makings</a> of <a href="/sufjan">Sufjan Stevens</a>.</p>

		<div class="miscellanea-item">
			<p class="title"><a href="#">Intro Article</a></p>
			<p class="lede">Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
			<!-- <p class="meta">
				<span class="author">Brandon Dorn</span>
				<span class="type"><span class="divider">/</span> May 2011</span>
			</p> -->
			
		</div>
	</div>
</div> <!-- .home-intro -->

<h2 class="home">Music</h2>

<p class="view-more-right"><a class="view-more" href="/music">View more</a></p>

<div class="home album-grid primary">

	{% assign album_list = site.categories.music | limit:6 %}
	{% for item in album_list %}
	{% if item.type == 'album' or item.type == 'ep' item.type == 'other' %}
	{% unless item.sub_type == 'ballet score'%}
	<div class="album">
		<a href="{{ item.url }}">
			<div class="image">
				{% for images in item.images %}
				{% if images.image contains "cover" %}
					<img class="cover" src="../img/music/{{ images.image }}" title="">
				{% endif %}
				{% endfor %}
			</div>
			<p class="title">{{ item.title }}</p>
		</a>
		<p class="type"><a href="/music">{% if item.sub_type%}{{ item.sub_type }}{% else %}{{ item.type }}{% endif %}</a> <span>/</span> {{ item.date | date: '%Y'}}</p>
	</div>
	{% endunless %}
	{% endif %}
	{% endfor %}


	<div class="album singles">
		<h2 class="home">Singles</h2>
		<ul class="singles-list">
			{% assign song_list = site.categories.songs | limit:3 %}
			{% for item in song_list %}
			{% if item.single %}
			<li>
				<a href="{{ item.url }}">
					{% if item.thumb %}
					<img src="../img/music/{{ item.thumb }}">
					{% endif %}
					<p class="title">{{ item.title }}</p>
					<p class="type">{{ item.date | date: '%Y' }}</p>
				</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>

	</div>
	
</div> <!-- .album-grid.primary -->

<div class="miscellanea-featured">
	<div class="image">
		<a href="#">
			<img src="/img/miscellanea/we-are-shielded-1.png">
		</a>
	</div>
	<div class="intro">
		<p class="quote">Copy and paste once I proof the actual story... parting to a lavender turtleneck Harriet hadn’t worn since her divorce ten years before. The blinds had been lifted. The floor rug was wedged under a glass lamp stand. Her New Testament concordance was folded dog-cared at the word delusion. Harriet flipped to the printed reference, 1 Thessalonians 2:11: “For this reason God sends them a powerful delusion so that they will believe the lie.”</p>
		
		<p class="title"><a href="#">We Are Shielded by the Holy Ghost</a></p>
		<p class="meta">
			<!-- <span class="author">Sufjan Stevens</span> -->
			<span class="type"><a href="/writing">Short Story</a></span>
		</p>
	</div>
	
</div> <!-- .miscellanea-featured -->

<div class="home-secondary">

	<div class="miscellanea-list">
		<h2 class="home" >Writing, etc.</h2>

		<div class="miscellanea-container">

			{% assign miscellanea_list = site.categories.miscellanea | sort:'year' | limit:8 %}
			{% for item in miscellanea_list %}
			{% unless item.url contains "notes" %}
			<div class="miscellanea-item">
				<a class="thumb"  href="{{ item.url }}">
					<img src="/img/miscellanea/{{ item.thumb }}">
					<p class="type">{{ item.genre }}</p>
				</a>
				<p class="title"><a href="{{ item.url }}">{{ item.title }}</a></p>
				<p class="lede">{{ item.lede }}</p>
				<!-- <p class="meta">
					<span class="author">{{ item.author }}</span>
					<span class="type"> <span class="divider">/</span> {{ item.date | date: '%B %Y'}}</span>
				</p> -->
			</div>
			{% endunless %}
			{% endfor %}


		</div>  <!-- .miscellanea-container -->

		<p><a class="view-more" href="#">View more</a></p>
	
	</div> <!-- .miscellanea-->

	<div class="commentary-list">
		<h2 class="home" >Commentary</h2>

		{% assign commentary_list = site.categories.commentary | sort:'year' | limit:4 %}
		{% for item in commentary_list %}
		<div class="commentary-item">
			<a href="{{ item.url }}"><div class="image"><img src="/img/commentary/{{ item.thumb }}" alt=""></div></a>
			<p class="title"><a href="{{ item.url }}">{{ item.title }}</a></p>
			<p class="lede">{{ item.lede }}</p>
			<!-- <p class="meta">
				<span class="author">{{ item.author }}</span>
				<span class="type"><span class="divider">/</span> {{ item.date | date: "%B %Y"}}</span>
			</p> -->
		</div>
		{% endfor %}

		<p><a class="view-more" href="#">View more</a></p>

		<hr>

		<div class="about">
			<h2 class="home">About the Project</h2>
			<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
			<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
		</div>
		
		
	</div> <!-- .commentary-->
	
</div> <!-- .home-secondary-->








