<footer>

	<div class="footer-items">
		<ul>
			<li><p><a class="nav-section" href="/music">Music</a></p></li>
			<li><p><a href="/music#albums">Albums and EPs</a></p></li>
			<li><p><a href="/music#collaborations">Collaborations</a></p></li>
			<li><p><a href="/music#singles" title="">Singles</a></p></li>
		</ul>

		<ul>
			<li><p><a class="nav-section" href="/miscellanea">Miscellanea</a></p></li>
			<li><p><a href="/miscellanea#writing">Writing</a></p></li>
			<li><p><a href="/miscellanea#film-and-other-media">Film and other media</a></p></li>
			<li><p><a href="/miscellanea#sufjan-dot-com">Sufjan's blog</a></p></li>
		</ul>

		<ul>
			<li><p><a class="nav-section" href="/sufjan">Sufjan</a></p></li>
			<li><p><a class="nav-section" href="/commentary">Commentary</a></p></li>
			<li><p><a class="nav-section" href="/about">About the project</a></p></li>
			<!-- <li><p class="nav-section"><a href="/resources">Resources</a></p></li> -->
		</ul>

		<div class="disclaimer">
			<p>Star of Wonder is a personal project of <a href="http://brandorn.com/">Brandon Dorn</a>, and is not affiliated with <a href="http://asthmatickitty.com/">Asthmatic Kitty</a>... blah blah</p>
		</div>
		
	</div>

</footer>
