<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/ico" href="/img/icons/favicon.png">

  <title>{% if page.title != 'Star of Wonder' %}{{ page.title }} – {{ site.title }}{% else %} {{ page.title }} – {{ page.description }}{% endif %}</title>
  <meta name="description" content="Description of the project...">
  <link rel="stylesheet" href="{{ "/src/styles/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/src/styles/simpleLightbox.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/src/styles/main.css" | prepend: site.baseurl }}">
  <script src="/src/scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
  {% if page.lightbox %}
  <script src="/src/scripts/simpleLightbox.min.js" type="text/javascript" defer></script>
  {% endif %}
  <script src="/src/scripts/scripts.js" type="text/javascript"></script>

  <script>
    // Updated GA scripts
  </script>
  
</head>
