<nav id="nav">
  <a href="../" class="home-link">
    <h1>Star of Wonder</h1>
    <p>A closer look at the life and work of Sufjan Stevens.</p>
  </a>

  <ul class="page-links">
    {% if page.active == "music" %}
        <li class="active"><a href="../music/">music</a></li>
    {% else %} 
        <li><a href="../music/">music</a></li>
    {% endif %}
    
    {% if page.active == "miscellanea" %}
        <li class="active"><a href="../miscellanea/">miscellanea</a></li>
    {% else %}
        <li><a href="../miscellanea/">miscellanea</a></li>
    {% endif %}

    {% if page.active == "sufjan" %}
        <li class="active"><a href="../sufjan/">sufjan</a></li>
    {% else %}
        <li><a href="../sufjan/">sufjan</a></li>
    {% endif %}
    
    {% if page.active == "commentary" %}
        <li class="active"><a href="../commentary/">commentary</a></li>
    {% else %}
        <li><a href="../commentary/">commentary</a></li>
    {% endif %}
  </ul>
</nav>