<nav id="nav">
  <a href="/" class="home-link">
    <h1>Star of Wonder</h1>
    <p>A closer look at the life and work of Sufjan Stevens.</p>
  </a>

  <ul class="page-links">
    <li {% if page.title == "Music" or page.category == "music" or page.category == "songs" or page.category == "singles"%} class="active" {% endif %}><a href="/music/">music</a></li>
    <li {% if page.title == "Miscellanea" or page.category == "miscellanea" %} class="active" {% endif %}><a href="/miscellanea/">miscellanea</a></li>
    <li {% if page.title == "Sufjan" %} class="active" {% endif %}><a href="/sufjan/">sufjan</a></li>
    <li {% if page.title == 'Commentary' or page.category == 'commentary' %} class="active" {% endif %}><a href="/commentary/">commentary</a></li>
  </ul>
</nav>