<nav id="nav">
  <a href="../" class="home">
    <h1>A Sufjan Companion</h1>
  </a>

  <ul class="page-links">
    {% if page.active == "music" %}
        <li class="active"><a href="../music/">music</a></li>
    {% else %} 
        <li><a href="../music/">music</a></li>
    {% endif %}
    {% if page.active == "miscellanea" %}
        <li class="active"><a href="../miscellanea/">miscellanea</a></li>
    {% else %}
        <li><a href="../miscellanea/">miscellanea</a></li>
    {% endif %}
    {% if page.active == "essays" %}
        <li class="active"><a href="../essays/">essays</a></li>
    {% else %}
        <li><a href="../essays/">essays</a></li>
    {% endif %}
    {% if page.active == "sufjan" %}
        <li class="active"><a href="../sufjan/">sufjan</a></li>
    {% else %}
        <li><a href="../sufjan/">sufjan</a></li>
    {% endif %}
    {% if page.active == "about" %}
        <li class="active"><a href="../about/">about</a></li>
    {% else %}
        <li><a href="../about/">about</a></li>
    {% endif %}
  </ul>
</nav>

<div id="nav-scrim"></div>