---
layout: default
title: Miscellanea
description: This is the description
---

<div class="index-intro">
	<h1>Miscellanea</h1>

	<ul class="page-links">
		<li><a href="#writing">Writing</a></li>
		<li><a href="#film-and-other-media">Film & Other Media</a></li>
		<li><a href="#sufjan-dot-com">Sufjan.com</a></li>
	</ul>

	<p class="section-description">Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
	
</div>

<ul class="miscellanea-writing" id="writing">
	{% assign miscellanea_list = site.categories.miscellanea | sort:'year' %}
	{% for item in miscellanea_list %}
	{% unless item.url contains 'notes' or item.type == 'other'%}
	<li>
		<a href="{{ item.url }}" title="{{ item.title }}">
			<div class="writing-item">
				<div class="cite">
					<p>{{ item.genre }}</p>
					<p>{{ item.date | date: '%b %Y' }}</p>
				</div>
				<div class="intro">
					<p class="title"><span>{{ item.title }}</span></p>
					<p class="lede">{{ item.lede }}</p>
					<p class= "author">by <span>{{ item.artists }}</span></p>
				</div>
				<div class="image"> <img src="{{site.baseurl}}/img/miscellanea/{{ item.thumb }}"> </div>
			</div>
		</a>
	</li>
	{% endunless %}
	{% endfor %}
</ul>

<h2 id="film-and-other-media" class="type-centered">Film & Other Media</h2>

<ul class="miscellanea-other">
	{% assign miscellanea_other_list = site.categories.miscellanea | sort:'year' %}
	{% for item in miscellanea_other_list %}
	{% unless item.url contains 'notes' or item.type == 'writing' %}
		<li>
			<a href="{{ item.url }}" title="{{ item.title }}">
				<div class="image"> <img src="{{ site.baseurl }}/img/miscellanea/{{ item.thumb }}"> </div>
				<p class="title"><span>{{ item.title }}</span></p>
				<p class="description">{{ item.genre }}, {{ item.date | date: '%b %Y' }}</p>
			</a>
		</li>
	{% endunless %}
	{% endfor %}
</ul>

<div class="index-intro">
	<h2 id = "sufjan-dot-com" class="type-centered">Sufjan.com</h2>
	<p class="section-description">Something about his website, representative posts, etc. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
</div>

<div class="suf-tumblr-grid">
	<a href="#"><img src="{{ site.baseurl }}/img/miscellanea/suf-tumblr-1.png" alt=""></a>
	<a href="#"><img src="{{ site.baseurl }}/img/miscellanea/suf-tumblr-2.png" alt=""></a>
	<a href="#"><img src="{{ site.baseurl }}/img/miscellanea/suf-tumblr-3.png" alt=""></a>
	<a href="#"><img src="{{ site.baseurl }}/img/miscellanea/suf-tumblr-4.png" alt=""></a>
	<a href="#"><img src="{{ site.baseurl }}/img/miscellanea/suf-tumblr-5.png" alt=""></a>
	<a href="#"><img src="{{ site.baseurl }}/img/miscellanea/suf-tumblr-6.png" alt=""></a>
</div>