.section-intro {
	h1 { text-align: center;}

	.description { 
		color: $color-secondary; 
		margin-bottom: 3rem;
	}

	.page-links {
		margin: -1rem auto 3rem auto;
		text-align: center;

		li { 
			display: inline-block;
			font-size: $type-smaller;
			margin: 0 1rem; 
		}
	}
}




/* Item lists
   ================================ */

.miscellanea-item,
.commentary-item {
	margin-bottom: 3rem;
	position: relative;

	.title {
		margin: 0.5rem 0;

		a {
			font-size: $type-medium-large;
			font-family: $serif;
			font-weight: normal;
			line-height: 120%;

			&:link,
			&:visited { 
				border-bottom: 2px solid transparent;
				color: $color-primary; 
			}

			&:hover,
			&:active { border-bottom: 2px solid $color-primary; }
		}
	} // .title

	.cite { 
		left: -80px;
		top: 2px;
		position: absolute; 
		text-align: right;
		width: 80px;

		@media screen and (max-width: $break-medium) { 
			left: 0;
			margin-bottom: 1rem;
			position: inherit;
			text-align: left;
			width: auto;
		}

		p {
			color: $color-secondary;
			font-size: $type-small;
			line-height: 140%;
			margin: 0;

			@media screen and (max-width: $break-medium) { display: inline; }

			&:nth-child(1):after { 
				@media screen and (max-width: $break-medium) {
					content: ", "
				}
			}

			a:link,
			a:visited { color: $color-secondary; }

			a:hover,
			a:active {
				text-decoration: underline;
			}

		} // p
	} // .cite
} // .miscellanea-item, .commentary-item

.miscellanea-item {

	.title a { font-size: $type-large; }

	&.with-image {
		img { 
			background: $faint-grey;
			height: 200px;
			width: 100%;
		}
	}

	&.film {
		a {
			display: block;
			padding: 0 2rem;
			width: 100%;
		}

		img { 
			background: $faint-grey;
			height: 120px;
			width: 100%;
		}

		.title {
			color: $color-primary;
			font-size: $type-medium;
			font-weight: normal;
			margin-bottom: 0;
			text-align: center;
		}

		.cite { 
			color: $color-secondary;
			font-weight: normal;
			left: auto;
			margin-top: 0;
			position: inherit;
			text-align: center;
			top: auto;
			width: auto;
		}
	}
} // .miscellanea-item

.commentary-item {

	margin-bottom: 2rem;

	.cite { top: 2px; }

	.description { font-size: $type-smaller;}

	&.with-image {
		.image {
			display:inline-block;
			margin-right: 4%;
			vertical-align: top;
			width: 27%;
		}

		.text {
			display:inline-block;
			width: 67%;
		}

		img { 
			background: $faint-grey;
			height: 120px;
			width: 100%;
		}
	} // .with-image

} // .commentary-item


/* Music
   ================================ */

   .music-albums {
   		.album {
   			margin-bottom: 1.5rem;
   			text-align: center;

   			a {
   				display: block;
   				width: 100%;
   			}

   			// For image overlay styles: http://jsfiddle.net/9z26ky19/

 				img {
   				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   				transition: all 200ms;
					width: 100%;

					&:hover { transform: scale(1.03); }
					&:active { transform: scale(1); }
	   		}

   			.title {
   				color: $color-primary;
   				font-weight: normal;
   				margin: 0;
   				padding: 0.5rem 0 0 0;
   			}

   			.year {
   				color: $color-secondary;
   				font-size: $type-smaller;
   				font-weight: normal;
   				margin: 0;
   			}

   			&.collaboration {
   				a { padding: 0 2rem; }
   			}
   		} // .album
   } // .music-albums

   .music-songs {
  		.music-song {

  			&.has-image { li { margin: 1rem 0; } }

  			ul { 
  				border-bottom: 1px solid $faint-grey; 
  				position: relative;
  				transition: all 200ms;

  				&:after {
						content: "";
			      background-image: url(/img/icon-chevron.svg);
			      background-size: 100%;
			      height: 28px;
			      margin: 1.5rem 0 4px 2px;
			      float: right;
			    	vertical-align: middle;
			      width: 28px;
					}

					&:hover { 
						.title { border-bottom: 2px solid $color-primary; }

						img { transform: scale(1.1); }
					}

					&:active {
						img { transform: scale(1); }
					}
  			}

  			li { 
  				display: inline-block; 
  				margin: 1.5rem 0;
  				padding-right: 1rem;
  				vertical-align: middle;

  				&:nth-last-child(1) { padding-right: 0; }

  				&.date { 
  					color: $color-secondary;
  					font-weight: normal;
  				}

  				&.title {
  					border-bottom: 2px solid transparent;
  					color: $color-primary;
  					font-size: $type-medium;
  					font-weight: normal;
  					transition: all 200ms;
  				}

  				img { 
	  				background: $faint-grey;
	  				height: 40px;
	  				margin: 0;
	  				transition: all 200ms;
	  				width: 40px;
	  			}
  			}
  			
  		} // li

   } // .music-songs