/* Albums
   ================================ */


.album-container,
.song-container {
		margin-top: 1rem;

		.type { 
			a:link,
			a:hover,
			a:visited,
			a:active { color: $color-secondary; }
		}
}

.album-container.overview,
.album-container.tracks {
	margin-left: 34%;
	max-width: 600px;

	@media all and (max-width: $break-medium) { margin: 3rem auto 0 28%; }
	@media all and (max-width: 400px ) {  margin: 3rem auto; }
}

.album-container.overview {
	
	h1 { 
		font-family: $serif;
		font-size: 4.2rem;
		font-weight: bold;
		line-height: 120%;
		margin: 0.5rem 0;

		@media all and (max-width: $break-medium) { font-size: 3rem; }
	}
} // .album-overview

.album-art {
	top: 110px;
	left: 2rem;
	position: absolute;
	width: 26%;

	@media all and (min-width: $break-large) { top: 138px; }
	@media all and (max-width: $break-medium) { 
		top: 140px; 
		width: 20%;
	}
	@media all and (max-width: 800px) { top: 150px; }
	@media all and (max-width: $break-small ) { left: 1rem; }
	@media all and (max-width: 400px ) { 
		left: 0; 
		position: inherit;
		width: 100%;
	}

	a:nth-child(n+5) { display: none; }

	a:link,
	a:visited { border-bottom: none; }

	a:hover,
	a:active { 
		border-bottom: none;
		cursor: zoom-in; 

		&:after { color: $color-accent}
	}

	.cover, 
	.secondary {
		display: inline-block;

		img { width: 100%; }
	}

	.cover { 
		height: auto;
		padding-bottom: 0;
		width: 100%; 
	}

	.secondary { 
    width: 31%;
    &:nth-child(3n) { margin: 0 1.5%; }

    @media all and (max-width: $break-medium) { 
    	width: 30%;
    	&:nth-child(3n) { margin: 0%; }
    }
	}

	p {
		color: $color-secondary;
		font-size: $type-small;

		.hand { font-size: 1.3rem; }
	}
	
} // .album-art

.album-details {
	font-size: $type-smaller;
	margin: 0 0 2rem 0;

	td {
		padding: 0.3rem 0;

		a:link,
		a:visited { text-decoration: underline; }

		a:hover,
		a:active { text-decoration: none; }

		&:nth-child(1) { 
			color: $color-secondary; 
			padding-right: 1.5rem;
			width: 80px;
		}

		.album { font-weight: 600; }

	}
} // .album-meta

.album-container.tracks {
	@media all and (max-width: $break-small) { margin: 3rem auto 0 auto; }

	> h2 { 
		display: none;
		@media all and (max-width: $break-small) { display: block; }
	}

	hr { margin: 4rem 0 -1rem 0;}

	.secondary-content p {
		font-family: $serif;
		font-size: $type-medium;
	}

}

.track-list {
	list-style: none;
	margin: -1rem auto 6rem auto;

	li {
		border-bottom: 1px solid $faint-grey;
		counter-increment: item;
		margin: 0;
		padding: 0;
		position: relative;
		
		&:before {
			content: "0" counter(item);
			display: block;
			font-size: $type-medium;
			position: absolute;
			top: 1.3rem;
			z-index: -1;
		}

		&:nth-child(n+10):before { content: counter(item); }

		p {
			font-size: $type-medium;
			line-height: 100%;
			margin: 0;
			width: 100%;
		}

		a {
			display: block;
			padding: 1.5rem 0 1.5rem 3rem;
			width: 100%;

			&:link,
			&:visited { border-bottom: none; }

			&:hover,
			&:active { 
				border-bottom: none; 
				color: $color-accent;
			}

			.remix-label { 
				color: $color-secondary;
				display: block;
				font-size: $type-smaller;
				margin-top: 0.5rem;
			}
		}

	} // li

} // .track-list



/* Songs
   ================================ */

$break-song: 820px;

.song-container {
	margin: 0 auto;
	max-width: 800px;

	.type { color: rgba(0, 0, 0, 0.4 ); } // To lighten the non-link text 

	.song-overview { 
		border-bottom: 1px solid $faint-grey;
		display: flex;
		margin-top: 1rem;
		padding-bottom: 3rem;

		p {

			a:link,
			a:visited { border-bottom: none; }

			a:hover,
			a:active { 
				border-bottom: none; 
				text-decoration: underline;
			}
		}
	} // .song-overview

	.song-artwork {
		margin-right: 2rem;
		width: 140px;

		@media all and (max-width: $break-medium) { 
			margin-right: 1.5rem;
			margin-top: 0.5rem;
			width: 130px;
		}

		img { 
			border-radius: 2px;
			width: 100%; 
		}
	}

	.song-info { padding-top: 0.5rem; }
	
	h1 {
		font-size: 2.7rem;
    margin: 0.5rem 0 0.7rem 0;
    line-height: 120%;

    @media all and (max-width: $break-medium) { font-size: $type-larger; }
	}

	h2 { margin-top: 5rem; }

	.song-meta {
		font-size: $type-smaller;
		margin: 0.3rem 0;

		.album { font-weight: 600; }
	}

	.song-content { 
		border-bottom: 1px solid $faint-grey; 
		display: flex; 
		flex-wrap: wrap;
		justify-content: space-between;
		padding-bottom: 3rem;

		@media all and (max-width: $break-song) {
			margin: 0 auto;
			max-width: 440px;
		}
	}

	.recording-primary {
		margin-top: 3rem;
		max-height: 160px;
		order: 2;
	  position: sticky;
	  top: 4rem;
	  width: 40%;

		@media all and (max-width: $break-song) { 
			order: 1; 
			position: inherit;
			width: 100%;
		}

		div { 
			background: rgba(0, 0, 0, 0.05 );
			line-height: 70%;

			iframe {
	    	animation: fadein 300ms;
	      animation-delay: 300ms;
			}
		}

		@keyframes fadein {
	    from { opacity: 0; }
	    to   { opacity: 1; }
		}
	} // .recording-primary

	.lyrics {
		margin: 1rem 0 3rem 0;
		width: 54%;

		@media all and (max-width: $break-song) { 
			order: 2;
			width: 100%; 
		}

		p {
			// font-family: $serif;
			font-size: 1.1rem;
			line-height: 160%;
			margin: 2rem 0 0 0;

			br {
			  content: "";
			  margin: 0.5rem;
			  display: block;
			}

			// @media all and (max-width: $break-medium) { font-size: 1.4rem; }
		}
	} // .lyrics

	.recording-instrumental {
		margin: 3rem auto 0 auto;
		max-width: $text-width;
	}

	.instrumental-label {
		color: $color-secondary;
		font-size: $type-normal;
		font-style: italic;
		margin: 1rem auto;
		text-align: center;
	}

	.song-analysis { 
		margin: 0 auto;
    max-width: $text-width;

    p { 
    	font-family: $serif;
    	font-size: $type-medium; 

    	&.description {
    		color: $color-secondary;
    		font-family: $sans-serif;
    		font-size: $type-smaller;
    		margin: 1rem 0 5rem 0;
    	}
    }


	}

	.other-recordings {
		margin-top: 3rem;
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.album-track-list {
		border-top: 1px solid $faint-grey;
		display: flex;
		margin: 6rem 0;
		padding-top: 6rem;

		.album-cover {
			margin: -1rem 4% 0 0;
    	width: 14%;

			img { 
				border-radius: 2px;
				width: 100%;
			}
		}

		.album-tracks {
			vertical-align: top;
			width: 75%;
		}

		h2 {
			// font-family: $san-serif;
			font-size: $type-larger;
			font-weight: bold;
			letter-spacing: 0;
			margin: 0 0 2rem 0;
			text-transform: capitalize;
		}

		.track-list li {
			border-bottom: none;

			&:before { top: 0.4rem; }

			a { 
				display: inline-block;
				padding: 0.75rem 0 0.75rem 2.25rem;
				width: auto;
			}

			&:before { color: $color-primary; }

			p { font-size: 1rem; }

			&.this-track p {
				color: rgba(0, 0, 0, 0.4);
				padding: 0.75rem 0 0.75rem 2.25rem; 
			} //.this-track 
			
		} // .track-list
	} // .album-track-list

	.album-grid.song {
		display: flex;
		justify-content: flex-start;

		.album { 
			margin-right: 6%;
			width: 18%; 

			img { 
				border-radius: 2px;
				width: 100%;
			}
		}
	} //.album-grid.song

} // .song

