h2.home  { 
	color: $color-secondary;
	font-size: $type-small;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
}

.home-intro {
	display: flex;
	margin-bottom: 3rem;

	@media screen and (max-width: $break-small) { display: block; }

	.intro-image {
		background-image: url("/img/sufjan/sufjan-main.jpg");
		background-position: top;
    background-size: cover;
    min-height: 40vh;
    position: relative;
		width: 54%;

		@media screen and (max-width: $break-small) { width: 100%; }

		img { width: 100%; }
		p.cite {
			bottom: -3rem;
			color: $color-tertiary;
			font-size: $type-small;
			position: absolute;

			a:link,
			a:visited { 
				color: $color-tertiary; 
				text-decoration: underline;
			}

			a:hover,
			a:active { 
				color: $color-tertiary;
				text-decoration: none; 
			}
		}
	}

	.intro-statement {
		padding: 1.5% 6%; 
		width: 44%; 

		@media screen and (max-width: $break-small) { 
			margin: 2rem auto;
			padding: 1rem 2rem;
			width: auto;
		}

		> p {
			font-size: 3.4rem;
			font-weight: 600;
			line-height: 140%;
			margin: 1rem 0;

			@media screen and (max-width: 1000px) { font-size: 2.8rem; }
			@media screen and (max-width: $break-medium) { font-size: 2rem; }
			@media screen and (max-width: $break-small) { 
				font-size: 2.4rem;
				line-height: 140%;
				text-align: center; 
			}

			a:link,
			a:visited { 
				text-decoration: underline;
				// border-bottom: 2px solid $faint-grey; 
			}

			a:hover,
			a:active { 
				color: $color-accent;
				text-decoration: underline;
				// border-bottom: 2px solid $color-accent; 
			}
		}

		.description {
			font-size: $type-normal;
			font-weight: normal;
			line-height: 170%;
			margin-top: 3rem;
			max-width: 400px;
		}
		
	} // .intro-statement
}  // .home-intro-primary

.home.album-grid.primary {
	margin-bottom: 3rem;
	width: 100%;

	h2 { 	margin: 0 0 1rem 0; }

	.album.singles { 
		width: 40%; 

		@media all and ( max-width: $break-medium ) { width: 58%; }
		@media all and ( max-width: $break-small ) { 
			margin-top: 2rem;
			width: 100%; 
		}

	}

	.album .singles-list {
		display: block;
		padding: 0;
		text-align: left;

		li {
			width: 100%;

			.title { margin-bottom: 0; }
			
			a:after {
				content: "";
		    background-image: url(/img/icons/icon-chevron.svg);
		    height: 24px;
		    position: absolute;
		    right: 0;
		    top: 7px;
		    width: 24px;

		    @media all and (max-width: $break-small) { top: 32px; }
			}
		}
	} //.album.singles-list
} // .album-grid


.miscellanea-featured {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5rem;

	.image {
		width: 22%;

		a {
			display: block;
			width: 100%;

			&:link,
			&:visited,
			&:hover,
			&:active { border-bottom: none; }
		}

		img { width: 100%; }
	}

	.intro {
		padding: 1% 0 0 4%;
		width: 74%;

		.quote {
			font-family: $serif;
			font-size: 1.7rem;
			font-style: italic;
			line-height: 160%;
			margin-top: 1.5rem;

			@media all and (max-width: $break-small) { 
				font-size: $type-medium; 
				margin-top: 0;
			}
		}

		.title { 
			font-family: $serif;
			font-size: $type-large;
			font-weight: 500;
			line-height: 100%;
			margin: 1rem 0 0.4rem 0;

			a:link,
			a:visited { border-bottom: none; }

			a:hover,
			a:active { 
				border-bottom: none;
				text-decoration: underline; }
		}

	} // .intro
} // .miscellanea-featured


.home-secondary {
	display: flex;
	justify-content: space-between;

	@media all and (max-width: 700px) { display: block; }

	.miscellanea-list,
  .commentary-list {	
  	h2 { margin-top: 0 } 

  	@media all and (max-width: $break-small) { 
			h2 { text-align: center; } 

			// "View more" link
			& > p { 
				text-align: center;
				width: 100% 
			}
		}
  }

	.miscellanea-list {
		border-right: 1px solid $faint-grey;
		padding-right: 4%;
		width: 70%;

		@media all and (max-width: 700px) { 
			border-right: none;
			padding-right: 0;
			width: 100%; 
		} 

		@media all and (max-width: $break-small) { 
			border-bottom: 1px solid $faint-grey;
			border-top: 1px solid $faint-grey;
			margin-bottom: 5rem; 
			padding: 3rem 0 1rem 0;
		}

		.miscellanea-container {
			display: flex;
			justify-content: space-between;

			@media all and (max-width: $break-small) { 
				display: block; 

			}
		}

	} // .miscellanea-list

	.commentary-list {
		padding-left: 4%;
		width: 22%;

		@media all and (max-width: 700px) { 
			padding-left: 0;
			width: 100%; 
		}

		hr { 
			background: $faint-grey;
			height: 1px;
			width: 100%;
		}

	} // .commentary-list

} // .home-secondary

.view-more-right {
	float: right;
	// margin-right: 1rem;
	margin-top: -3.2rem;
}

.view-more {
	font-size: $type-smaller;
	font-weight: 600;
	position: relative;

	&:link,
	&:visited {
		border-bottom: none;
		color: $color-secondary;
	}

	&:hover,
	&:active {
		border-bottom: none;
		text-decoration: underline;
	}

	/* &:after {
		content: "";
		display: inline-block;
    background-image: url("/img/icons/icon-chevron-accent.svg");
    height: 25px;
    position: absolute;
    right: -22px;
    top: -4px;
    vertical-align: middle;
    width: 24px;
	} */
} // .view-more

.about {
	p { font-size: $type-smaller; }

	@media all and (max-width: $break-small) { 
		margin: 0 auto 2rem auto;
		max-width: 400px;
		width: 100%; 
	}
}