.index-intro {
	margin: 0 auto;
	max-width: 500px;
	
	h1 { 
		font-family: $serif;
		font-size: 4.5rem;
		font-weight: bold;
		letter-spacing: 0;
		margin-top: 0;
		text-align: center;

		@media all and(max-width: $break-medium) { font-size: 3.5rem; }
		@media all and(max-width: $break-small) { font-size: 3rem; }
	}

	.section-description { 
		color: $color-secondary; 
		margin-bottom: 3rem;
	}

	.page-links {
		margin: 0 auto 1.5rem auto;
		text-align: center;

		li { 
			display: inline-block;
			font-size: $type-smaller;
			margin: 0 1rem; 
		}

		a {
			font-weight: 500;

			&:link,
			&:visited {
				border-bottom: none;
				color: $color-secondary;
			}

			&:hover,
			&:active {
				border-bottom: none;
				color: $color-primary;
			}
		}
	}
} // .section intro


.album,
.miscellanea-item,
.miscellanea-featured,
.commentary-item,
.song,
.album-container,
.song-container {

	.meta {
		color: $color-secondary;
		font-size: $type-smaller;
		margin: 0;
	}

	.type {
		color: $color-secondary;
		font-size: 0.7rem;
		font-weight: 500;
		letter-spacing: 1px;
		margin: 0;
		text-transform: uppercase;

		span { color: $light-grey; }

		a { 
			display: inline; 
			width: auto;
		}

		a:link,
		a:visited { 
			border-bottom: none;
			color: $color-accent;
		}

		a:hover, 
		a:active { 
			border-bottom: none;
			color: $color-accent; 
			text-decoration: underline;
		}
	}
}



/* Landing lists
   ================================ */

.miscellanea-item {
	margin-bottom: 3rem;
	width: 45%;

	@media all and (max-width: $break-small) { 
		margin: 0 auto 2rem auto;
		max-width: 400px;
		width: 100%; 
	}

	.thumb {
		position: relative;

		// @media all and (max-width: $break-small) { display: none; }

		&:link,
	  &:visited,
	  &:hover,
	  &:active { border-bottom: none; }

	  img {	
	  	display: block;
	  	width: 100%; 
	  }

	  .type { 
	  	background-color: $color-primary;
	  	bottom: 0;
	  	color: #fff;
	  	display: table;
	  	left: 0;
	  	padding: 0.5rem 1rem;
	  	position: absolute;
	  }

	} // .thumb

	

	.title {
		font-size: $type-large;
		font-family: $serif;
		// font-weight: bold;
		line-height: 120%;
		margin: 1rem 0 0.4rem 0;

		a {
			&:link,
			&:visited { border-bottom: none; }

			&:hover,
			&:active { 
				border-bottom: none;
				text-decoration: underline; 
			}

			@media all and (max-width: $break-small) { 
				font-size: $type-larger; 
				font-weight: normal;
			}
		}
	} // .title

	.lede {
		color: $color-primary;
		font-family: $sans-serif;
		font-size: $type-normal;
		line-height: 160%;
	}

	&.with-image {
		img { 
			background: $faint-grey;
			height: 200px;
			width: 100%;
		}
	}

} // .miscellanea-item

.commentary-item {
	margin-bottom: 3rem;

	@media all and (max-width: $break-small) { 
		margin: 2rem auto;
		max-width: 400px;
		width: 100%; 
	}

	.image { img { width: 100%; } }

	.title {
		font-size: $type-medium;
		font-family: $sans-serif;
		font-weight: 600;
		line-height: 140%;
		margin: 1rem 0 0.4rem 0;

		a {
			&:link,
			&:visited { border-bottom: none; }

			&:hover,
			&:active { 
				border-bottom: none;
				text-decoration: underline; 
			}
		}
	} // .title

	.lede { 
		color: $color-secondary;
		font-size: $type-smaller;
		margin: 0.5rem 0;
	}
} // .commentary-item


/* Music
   ================================ */

.music .description { margin-bottom: 6rem; }

.album-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&.primary { 
		.album { 
			width: 22%; 

			@media all and (max-width: $break-medium) { width: 28%;} 
			@media all and (max-width: $break-small) { width: 48%;} 
		} 
	}

	.album {
		margin-bottom: 4rem;
		text-align: center;

		@media all and (max-width: $break-small) { margin-bottom: 2rem; }
		
		a {
			display: block;
			width: 100%;

			&:link,
			&:visited,
			&:hover,
			&:active { border-bottom: none; }
		}

		&:hover img { transform: scale(1.02); }
		&:active img { transform: scale(1); }

		img {
			transition: all 200ms;
			width: 100%;
 		}

		.title { 
			font-family: $sans-serif;
			font-size: $type-medium-large;
			line-height: 100%;
			margin: 1rem 0 0.5rem 0;
		}

		.type {
			font-size: 0.7rem;
			font-weight: 500;

			a { display: inline; }
		}

	} //.album

	&.secondary { 
		.album { width: 14%; }

		.title { 
			font-size: $type-medium;
			line-height: 130%;
		} 

	}

} // .album-grid

.singles-list {
	display: flex;
	justify-content: space-between;

	li {
		// border-bottom: 1px solid $faint-grey;
		list-style: none;
		margin: 0 0 1rem 0;
		padding: 0;
		position: relative;
		width: 30%;

		@media all and (max-width: $break-small) { padding: 0.5rem 0;}

		a { 
			display: block; 

			&:link,
			&:visited { border-bottom: none; }

			&:hover,
			&:active { 
				border-bottom: none;
				color: $color-accent; 
			}
		}

		.title {
			font-size: 1.25rem;
			line-height: 120%;
			margin: 0;
			padding-top: 0.3rem;
		}

		.type {
			color: $color-secondary;
			font-size: 0.7rem;
			font-weight: 500;
			letter-spacing: 1px;
			margin: 0;
			padding: 0.2rem 0 1rem 0;
		}

		&.has-image {

			img { 
				// border-radius: 2px;
				position: absolute;
				height: 50px; 
				width: 50px;
			}

			.title, 
			.type { padding-left: 65px; }
		}
	} // li

} // .singles-list


/* Miscellanea
   ================================ */

.miscellanea-writing {
	// see .commentary-item: 2-up on $break-medium, images above, fixed-width + margin-auto on $break-small

	margin-top: 6rem;

	li {
		border-bottom: 1px solid $faint-grey;
		list-style-type: none;
		margin: 0 auto;
		max-width: 900px;

		&:nth-last-child(1) { margin-bottom: 6rem; }

		> a {
			display: block;

			&:link,
			&:visited { border-bottom: none; }

			&:hover,
			&:active { 
				border-bottom: none; 
				.title span { text-decoration: underline; }
			}
		}

		.writing-item {
			display: flex;
			justify-content: space-between;
			padding-bottom: 2rem;

			@media all and(max-width: $break-medium) { 
				display: block; 
				margin: 0 auto;
				position: relative;
			}
		}

		.cite  {

			@media all and(max-width: $break-medium) { padding-left: 32%; }
			@media all and(max-width: $break-tiny) { padding-left: 0; }

			p { 
				color: $color-tertiary;
				font-size: 0.7rem;
				font-weight: 600;
				letter-spacing: 1px;
				margin: 0;
				text-transform: uppercase;

				@media all and(max-width: $break-medium) { 
					display: inline-block; 
					margin: 0 0.5rem 1rem 0;
				}
			}
		} // .cite

		.intro {

			@media all and(max-width: $break-medium) { padding-left: 32%; }
			@media all and(max-width: $break-tiny) { padding-left: 0; }

			.title {
				font-family: $serif;
				font-size: $type-larger;
				line-height: 120%;
				margin: 0;

				@media all and(max-width: $break-medium) { display: inline-block; }
			} // .title
		} // .intro

		.lede {
			color: $color-primary;
			font-family: $sans-serif;
			font-size: $type-normal;
			font-style: normal;
			margin-bottom: 1.5rem;
		}

		.author {
			color: $color-secondary;
			font-size: $type-smaller;

			span {
				letter-spacing: 2px;
				padding-left: 0.2rem;
				text-transform: uppercase;
			}
		}

		.image {
			margin-top: 0.5rem;
			max-width: 240px;

			@media all and(max-width: $break-medium) { 
				position: absolute;
				left: 0;
				top: 0;
				width: 28%;
			}
			@media all and ( max-width: $break-small ) { 
				margin-top: 0;
				top: 2.5rem; 
			}
			@media all and ( max-width: $break-tiny ) { display: none; }

			img { width: 100%; }
		} // .image

	} // li
} // .miscellanea-writing

.miscellanea-other {
	display: flex;
	flex-wrap: space-between;

	li {
		list-style-type: none;
		text-align: center;
		width: 22%;

		@media all and(max-width: $break-medium) { width: 30%; }
		@media all and(max-width: $break-small) { width: 48%; }
		@media all and(max-width: $break-tiny) { width: 100%; }

		a {
			&:link,
			&:visited { border-bottom: none; }

			&:active,
			&:hover { 
				border-bottom: none; 

				.title span { border-bottom: 2px solid $color-primary; }
			}
		}

		.image {
			img { width: 100%; }
		}

		.title {
			border-bottom: 2px solid transparent;
			font-size: $type-medium-large;
			line-height: 130%;
			margin-bottom: 0.5rem;
		}

		.description { 
			color: $color-secondary;
			font-family: $sans-serif;
			font-size: $type-smaller;
			font-style: normal;
			margin: 0;
			text-transform: capitalize;
		}
	} // li

} // .miscellanea-other

.suf-tumblr-grid {
	column-count: 4;
	column-gap: 1rem;
	column-fill: initial;
	transition: all .5s ease-in-out;

	@media all and (max-width: $break-medium ) { column-count: 3; }
	@media all and (max-width: $break-small ) { column-count: 2; }

	a { 
		display: block;
		margin-bottom: 1rem;

		&:link,
		&:visited,
		&:hover,
		&:active { border-bottom: none; }

		img {
			transition: all 200ms;
			width: 100%;

			&:hover { transform: scale(1.02); }
			&:active { transform: scale(1); }
		}

	}
} // .suf-tumblr-grid


/* Commentary Index
   ================================ */

.commentary-index-list {
	margin: 6rem auto;
	max-width: 860px;

	@media all and (max-width: $break-medium) { 
		display: flex; 
		justify-content: space-between;
		margin-top: 0;
	}

	@media all and (max-width: $break-small) { flex-wrap: wrap}

	li { 
		list-style-type: none; 

		@media all and (max-width: $break-medium) { width: 48%; }
		@media all and (max-width: $break-small) { width: 100%; }

	}

	.commentary-item {
		border-bottom: 1px solid $faint-grey;
		display: flex;
		justify-content: space-between;
		margin-bottom: 3rem;
		padding-bottom: 1rem;

		@media all and (max-width: $break-medium) { 
			border-bottom: none;
			flex-wrap: wrap; 
			margin: 0 auto;
		}

		&:hover,
		&:active { .title { text-decoration: underline; } }

		.commentary-intro {
			padding-right: 4rem;
			width: 60%; 

			@media all and (max-width: $break-medium) { 
				order: 2;
				padding-right: 0;
				width: 100%;
			}

			.title {
				font-family: $serif;
				font-size: $type-larger;
				font-weight: normal;
				margin: 0 0 1rem 0;

				@media all and (max-width: $break-medium) { margin-bottom: 0.5rem; }
			}

			.lede { margin: 0 0 1rem 0; }

			.author { 
				font-size: $type-smaller;
				font-weight: 600;
				margin: 0;

				span { font-weight: normal; }
			}

			.date { 
				color: $color-secondary;
				font-size: $type-small; 
				margin: 0;
			}

		} // .commentary-intro

		.image {
			margin-top: 0.5rem;
			text-align: center;
			width: 40%;

			img { width: 100%; }
			
			@media all and (max-width: $break-medium) { 
				margin-bottom: 1rem;
				width: 100%; 
			}

		 } // .image
	} // .commentary-item
} // .commentary-index-list
