---
layout: default
title: Music
description: This is the description
---

<div class="index-intro">
	<h1>Music</h1>

	<ul class="page-links">
		<li><a href="#albums">Albums</a></li>
		<li><a href="#collaborations">Collaborations</a></li>
		<li><a href="#singles">Singles</a></li>
	</ul>

	<p class="section-description">Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
	
</div>

<div id="albums" class="album-grid primary">
	{% assign album_list = site.categories.music %}
	{% for item in album_list %}
	{% if item.type == 'album' %}
	<div class="album">
		<a href="{{ item.url }}">
			<div class="image">
				{% for images in item.images %}
				{% if images.image contains "cover" %}
					<img class="cover" src="../img/music/{{ images.image }}" title="">
				{% endif %}
				{% endfor %}
			</div>
			<p class="title">{{ item.title }}</p>
			<p class="type">{{ item.date | date: '%Y' }}</p>
		</a>
	</div>
	{% endif %}
	{% endfor %}
</div>


<h2 id="collaborations" class="type-centered">Collaborations</h2>

<div class="album-grid secondary">
	{% for item in album_list %}
	{% if item.type == 'other' %}
	<div class="album">
		<a href="{{ item.url }}">
			<div class="image">
				{% for images in item.images %}
				{% if images.image contains "cover" %}
					<img class="cover" src="../img/music/{{ images.image }}" title="">
				{% endif %}
				{% endfor %}
			</div>
			<p class="title">{{ item.title }}</p>
			<p class="type">{{ item.sub_type }}</p>
		</a>
	</div>
	{% endif %}
	{% endfor %}
	
</div>

<h2 id="singles" class="type-centered">Singles</h2>

<ul class="singles-list">
	{% assign song_list = site.categories.songs %}
	{% for item in song_list %}
	{% if item.single %}
	<li>
		<a href="{{ item.url }}">
			{% if item.thumb %}
			<img src="../img/music/{{ item.thumb }}">
			{% endif %}
			<p class="title">{{ item.title }}</p>
			<p class="type">{{ item.date | date: '%Y' }}</p>
		</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>
