---
layout: default
---

{% assign album = page.album %} 

{% assign album_list = site.categories.music %}
{% for item in album_list %}
	{% if item.title == album %}
		{% assign album_url = item.url %}
		{% assign album_track_count = item.track_count %}
		{% assign album_bandcamp_id = item.bandcamp_album_id %}
		{% assign album_bandcamp_link = item.bandcamp_album_link %}

		{% for image_item in item.images %}
			{% if image_item.source contains "cover" %}
				{% assign album_cover = image_item.source %}
			{% endif %}
		{% endfor %}

	{% endif %}
{% endfor %}

<div class="song-container">

	<div class="song-overview">

		<div class="song-artwork">
			<img src="{{ site.baseurl }}/img/music/{{ album_cover }}" alt="Cover of {{ album }}">
		</div>

		<div class="song-info">
			<p class="type"><a href="/music">Music</a> <span class="divider">/</span> <a href="{{ album_url }}">{{ album }}</a> </p>
			<h1>{{ page.title }}</h1>
			<p class= "song-meta">Track {{ page.track_number }} of {{ album_track_count }} on <a class= "album" href="{{ album_url }}">{{ album }}</a></p>
			<p class= "song-meta artists">Artist{% if page.artists contains "," %}<span>s</span>{% endif %}: {{ page.artists }}</p>
		</div>

	</div> <!-- .song-overview -->
</div> <!-- .song-container -->

<div class="song-container">

	{% for item in page.primary_recording %}
	{% if page.instrumental and item.type == 'youtube' %}
	<div class="recording-instrumental">
		<div class="youtube-container">
			<iframe width="480" height="270" src="https://www.youtube.com/embed/{{ item.id }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
	<p class="instrumental-label">Instrumental</p>

	{% elsif page.instrumental and item.type == 'bandcamp' %}
	<div class="recording-instrumental">
		<div class="bandcamp-container">
			<iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album={{ album_bandcamp_id }}/size=large/bgcol=eeeeee/linkcol=bb6cf1/tracklist=false/artwork=none/track= {{ item.id }}/" seamless><a href="{{ album_bandcamp_link }}">{{ page.album }} by Sufjan Stevens</a></iframe>
		</div>
	</div>
	<p class="instrumental-label">Instrumental</p>

	{% elsif item.type == 'youtube' %}
	<div class="song-content">
		<div class="recording-primary">
			<div class="youtube-container">
				<iframe width="480" height="270" src="https://www.youtube.com/embed/{{ item.id }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
		<div class="lyrics"> {{ page.content }} </div>
	</div>

	{% else %} <!-- Bandcamp -->
	<div class="song-content">
		<div class="recording-primary">
			<div class="bandcamp-container"> 
				<iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album={{ album_bandcamp_id }}/size=large/bgcol=eeeeee/linkcol=bb6cf1/tracklist=false/artwork=none/track= {{ item.id }}/" seamless><a href="{{ album_bandcamp_link }}">{{ page.album }} by Sufjan Stevens</a></iframe>
			</div>
		</div>
		<div class="lyrics"> {{ page.content }} </div>
	</div>
	{% endif %}
	{% endfor %}
	
	{% for item in site.categories.songs %}
	{% if item.album == page.album and item.track_number == page.track_number and item.url contains "notes" %}
	<div class="song-analysis">
	<h2>Notes</h2>
	{{ item.content }}
	</div> <!-- .song-analysis -->
	{% endif %}
	{% endfor %}

	{% if page.other_recordings %}
	<div class="song-analysis">
	<h2>Related Recordings</h2>
	{% for item in page.other_recordings %}
	<div class="other-recordings">
		<iframe width="480" height="270" src="https://www.youtube.com/embed/{{ item.id }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
	</div> <!-- .other-recordings -->
	<p class="description">{{ item.description }}</p>
	{% endfor %}
	</div> <!-- .song-analysis -->
	{% endif %}


	<!-- Make into simpler <ol> -->
	<div class="album-track-list">
		<div class="album-cover">
			<img src="{{ site.baseurl }}/img/music/{{ album_cover }}" alt="Cover of {{ album }}">
		</div>
		<div class="album-tracks">
		<h2 class="album-title">{{ page.album }}</h2>
		{% assign track_list = site.categories.songs | sort:'track_number' %}
		<ol class="track-list">
		{% for item in track_list %}
		{% if item.album == album %}
			{% if item.title == page.title %} 
				<li class="this-track"> <p class="title">{{ item.title }}</p> </li>
			{% else %}
				<li> <p class="title">{% if item.original_version_url %}<a href="{{ site.baseurl }}/music/{{ item.original_version_url }}">{{ item.title }} <span class="remix-label">Remix of {{ item.original_version_title }}</span></a> {% else %} <a href="{{ item.url }}">{{ item.title }}</a>{% endif %}</p> </li>
			{% endif %}
		{% endif %}
		{% endfor %}
		</ol>
		</div>
	</div> <!-- album-track-list -->

	

	<div class="album-grid song">
		{% assign album_list = site.categories.music %}
		{% for item in album_list %}
		{% unless item.title == album %}
		{% if item.type == 'album' or item.type == 'other' %}
		<div class="album">
			{% for image_item in item.images %}
			{% if image_item.source contains "cover" %}
			<a href="{{ item.url }}">
				<div class="image">
					<img src="{{ site.baseurl }}/img/music/{{ image_item.source }}">
				</div>
			</a>
			{% endif %}
			{% endfor %}
		</div>
		{% endif %}
		{% endunless %}
		{% endfor %}
	</div>

</div> <!-- .song-container -->


