---
---
@charset "UTF-8";


/* Color variables
   ================================ */

$color-primary: rgba(0, 0, 0, 1);
$color-secondary: rgba(0, 0, 0, 0.6);
$color-tertiary: rgba(0, 0, 0, 0.4);
$color-accent: #7137dc;

.color-secondary { 
  color: $color-secondary; 

  a {
    &:link,
    &:visited,
    &:hover,
    &:active { color: $color-secondary; }
  }
}

$grey: rgba(0,0,0, 0.3);
$light-grey: rgba(0, 0, 0, 0.2);
$faint-grey: rgba(0, 0, 0, 0.1);


/* Breakpoints
   ================================ */

// Not yet sure how to reconcile these with grid.scss

$break-large: 1300px;
$break-medium: 800px;
$break-small: 600px;

/* Sass partials (from _sass)
   ================================ */

@import
  "grid",
  "fonts",
  "base",
  "nav",
  "img",
  "pages/home",
  "pages/indexes"
;