@font-face {
  src: url(../../src/fonts/BentonSans-Medium.ttf);
  font-family: 'Benton Sans';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url(../../src/fonts/BentonSans-Regular.ttf);
  font-family: 'Benton Sans';
  font-style: normal;
  font-weight: normal;
} 

$sans-serif: 'Benton Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
.sans-serif { font-family: $sans-serif; }



@font-face {
  src: url(../../src/fonts/IBMPlexMono-Regular.otf);
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: normal;
}

$mono: 'IBM Plex Mono', 'Consolas', mono;
.mono { font-family: $mono; }

/* Font sizes
   ================================ */

/* These are guesses... */

$type-huge: 2.6em; // ~33px
$type-larger: 2rem; // ~29px
$type-large: 1.6em; // ~ 23px
$type-medium-large: 1.4rem; // ~21px
$type-medium: 1.2rem; // ~17px
$type-normal: 1rem; // ~15px
$type-smaller: 0.85rem; // ~13px
$type-small: 0.8rem; // ~11px

.type-large { font-size: $type-large; }
.type-normal { font-size: $type-normal; }
.type-small { font-size: $type-small; }

.italic { font-style: italic; }
.type-centered { text-align: center; }
.lower-case { text-transform: none; }
.normal-spacing { letter-spacing: 0; }