/* === Primary nav === */

$nav-break: 800px;

nav {
  font-family: $sans-serif;
  margin: 0 auto 2rem auto;
  margin: 1rem 0 3rem 0;

  a:link,
  a:visited,
  a:hover,
  a:active { color: $color-primary; }

  .home-link {
    border-bottom: none;
    display: inline-block;

    @media all and (max-width: $nav-break) { 
      display: block;
      text-align: center; 
    }

    h1 { 
      -webkit-font-smoothing: initial;
      font-family: "Bungee", Helvetica, Arial, sans-serif;
      font-size: 2rem;
      margin: 0;
    }

    p { 
      font-size: $type-smaller;
      font-weight: normal;
      margin: 0;
    }

  } // .home

  ul.page-links {
    display: inline-block;
    float: right;
    font-size: $type-smaller;
    margin: 0.5rem 0;
    padding: 0;
    vertical-align: top;

    @media all and (max-width: $nav-break) { 
      display: block; 
      float: none;
      margin: 0;
      padding-bottom: 0.5rem;
      text-align: center;

      a:link { padding: 0.5rem 0.3rem 0.1rem 0.3rem; }
    }
    
    li { 
      display: inline-block;
      margin: 0;
      padding: 0 1rem;
      text-transform: capitalize;

      @media all and (max-width: $break-small) { padding: 0 0.5rem; }
      
      &:nth-child(1) { padding-left: 0; }
      &:nth-last-child(1) { padding-right: 0; }

      a {
        &:link,
        &:visited { 
          border-bottom: none;
          display: block;
          font-weight: 500;
          padding-top: 1rem;
          text-decoration: none;
        }

        &:hover,
        &:active { color: $color-tertiary; }
      }

      &.active {
        a { 
          border-bottom: 2px solid $color-primary;
          color: $color-primary; 
        }
      }
    } // ul.page-links li
  } // ul.page-links
} // #nav



/* === Footer === */

footer {
  border-top: 1px solid $light-grey;
  margin-top: 9rem;
  padding: 2rem 0;

  p { font-size: $type-smaller; }

  .footer-items {
    display: flex;
    justify-content: space-between;

    @media all and (max-width: $break-medium) { flex-wrap: wrap; }

    li { 
      list-style-type: none;
      margin: 0.7rem 0;

      p { margin: 0; }

      a {
        &.nav-section { font-weight: 600;}

        &:link,
        &:visited { text-decoration: none; }

        &:hover,
        &:active { text-decoration: underline; }
      }
    } //.li

    .disclaimer {
      max-width: 360px;

      @media all and (max-width: $break-medium) { 
        margin-top: 2rem;
        max-width: 100%;
        width: 100%; 
      }

      p {
        color: $color-secondary;

        a:link,
        a:visited { 
          border-bottom: 1px solid $faint-grey;
          color: $color-secondary; 
        }

        a:hover,
        a:active { 
          border-bottom: 1px solid $color-secondary;
          color: $color-secondary; 
        }

        &:after {
          content: "";
          background-image: url(/img/icons/star.png);
          background-size: 100%;
          display: inline-block;
          height: 12px;
          margin-left: 0.5rem;
          width: 14px;
        }
      }
    } // .disclaimer
  } // .footer-items
} // footer